<aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>Looking forward to see you soon.</p>
          </aside>
       <article>
        <h2>Welcome to the webpage,</h2>
        <p>
          I am a student of Seneca college. This website is for a company. 153341219.Manav was founded on 2021. It is a software company that specializes in
          main frame and web applications.
        </p>
        <h1>UPDATES COMING SOON</h1>
       
      </article>