<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  </head>
  <body>
    <div class="row1"></div>
    <h1>WEB322 APP</h1>

    <nav>
      <div class="row2">
        <li class="active"><a href="/Home">home</a></li>
        <button><a href="/products">Products</a></button>
        <button><a href="/demos">Demos</a></button>
        <button><a href="/categories">Categories</a></button>
        <button><a href="/products/add">Add Products</a></button>
      </div>
    </nav>
    <div class="row3">
      <article>
        <h2>Welcome to the webpage,</h2>
        <p>
          I am a student of Seneca college. This website is for a company. Manav.company was founded on 2021. It is a software company that specializes in
          main frame and web applications.
        </p>
        <h1>UPDATES COMING SOON</h1>
       
      </article>
    </div>
   
  </body>
</html>