<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
  </head>
  <body>
    <div class="row1"></div>
    <h1>WEB322 APP</h1>

    <nav>
      <div class="row2">
        <li class="active"><a href="/Home">home</a></li>
        <button><a href="/products">Products</a></button>
        <button><a href="/demos">Demos</a></button>
        <button><a href="/categories">Categories</a></button>
        <button><a href="/products/add">Add Products</a></button>
      </div>
    </nav>
    <div class="row3">
      <article>
        <h2>Welcome to my webpage,</h2>
        <p>
          I am pursuing my diploma in computer
          programming from Seneca College.After this course I want to pursue degree in computer science and want to do something for the betterment of the society.
        </p>
        <h1>UPDATES COMING SOON</h1>
        <p>WORKING FOR YOUR BETTERMENT</p>
      </article>
    </div>
   
  </body>
</html>